version: '2'
services:
  sonarqube_db:
    image: "postgres:9.6.1"
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=sonar
      - POSTGRES_PASSWORD=sonar
    volumes:
      - ${VOLUMES_PATH}/sonarqube/postgres:/var/lib/postgresql/data
  sonarqube:
    image: "sonarqube:6.2"
    ports:
      - "9000:9000"
      - "9092:9092"
    environment:
      - SONARQUBE_JDBC_USERNAME=sonar
      - SONARQUBE_JDBC_PASSWORD=sonar
      - SONARQUBE_JDBC_URL=jdbc:postgresql://sonarqube_db:5432/sonar
  artifactory:
    image: "docker.bintray.io/jfrog/artifactory-oss:latest"
    ports:
      - "8081:8081"
    volumes:
      - ${VOLUMES_PATH}/artifactory/data:/var/opt/jfrog/artifactory/data
      - ${VOLUMES_PATH}/artifactory/logs:/var/opt/jfrog/artifactory/logs
      - ${VOLUMES_PATH}/artifactory/etc:/var/opt/jfrog/artifactory/etc
  jenkins:
    image: "jenkins:2.32.1"
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - ${VOLUMES_PATH}/jenkins:/var/jenkins_home
